Repository cse110-sp24-group14/cse110-sp24-group14, pull requests merged in 2024-06, with the labels that each got.

#65 Dylan / Journal Skeleton
  source/server.js
  source/snippet/snippet.css
  source/snippet/snippet.html
Labels: HTML, CSS, easy

#82 Dylan and Advaith / Snippet Functionality
  source/index.html
  source/server.js
  source/snippetCreation/snippetCreation.css
  source/snippetCreation/snippetCreation.js
  source/starter.sql
Labels: HTML, CSS, JS, Priority: Medium

#71 Add complete delete button functionalities
  out/.gitkeep
  source/__e2e__/e2e-complete-task-button.js
  source/__e2e__/e2e-completed-stat.js
  source/__e2e__/e2e-delete-task.js
  source/__test__/completed-stat.test.js
  source/__test__/delete-task.test.js
  source/__test__/update-task-completed.test.js
  source/displayTasks/Check.png
  source/displayTasks/TrashSimple.png
  source/displayTasks/displayTasks.css
  source/displayTasks/displayTasks.js
  source/displayTasks/index.html
  source/displayTasks/tasks.json
  source/index.css
  source/index.html
  source/server.js
  source/starter.sql
Labels: HTML, JS, Priority: Medium

#84 Allow selectable sidebar calendar date and component updates
  .github/workflows/jsdocs.yml
  source/__e2e__/e2e-completed-stat.js
  source/__e2e__/e2e-side-calendar-select.js
  source/__test__/posted-streak.test.js
  source/displayTasks/displayTasks.css
  source/displayTasks/displayTasks.js
  source/index.html
  source/server.js
  source/sideCalendar/sideCalendar.js
  source/taskCompleted/taskCompleted.js
Labels: HTML, JS, Priority: Medium

#88 Edward/snippet display selected date
  .github/workflows/jsdocs.yml
  source/__e2e__/e2e-completed-stat.js
  source/server.js
  source/snippetCreation/snippetCreation.js
Labels: HTML, JS, Priority: Medium

#86 Added missing dependencies for jsdocs
  README.md
  source/jsdoc.conf.json
  source/package-lock.json
  source/package.json
Labels: bug

#83 Post to do and call streaks
  source/index.html
  source/server.js
Labels: JS, Priority: High

#92 Edward/sidebar week buttons
  source/__e2e__/e2e-last-next-week-button.js
  source/sideCalendar/sideCalendar.js
Labels: HTML, CSS, JS, Priority: Low

#94 In-depth JSDoc Comments
  source/displayTasks/displayTasks.js
  source/server.js
  source/sideCalendar/sideCalendar.js
  source/snippetCreation/snippetCreation.js
  source/taskCompleted/taskCompleted.js
Labels: documentation, Priority: Low

#73 Create streak container and GET request
  source/__tests__/countStreak.test.js
  source/displayStreak/Fire.svg
  source/displayStreak/displayStreak.css
  source/displayStreak/displayStreak.js
  source/displayStreak/index.html
  source/e2e/e2e-displayStreak.js
  source/server.js
  source/starter.sql
Labels: HTML, CSS, JS

#103 Code snippet highlighting
  source/index.html
  source/package-lock.json
  source/package.json
  source/snippetCreation/snippetCreation.css
  source/snippetCreation/snippetCreation.js
Labels: CSS, JS, Priority: Low

#114 Update CSS for navbar to change for mobile screens (425 px or less)
  source/header/header.css
  source/snippetCreation/snippetCreation.css
Labels: CSS, Priority: Medium

#119 [BUG] Empty task input
  source/index.html
  source/taskBox/send_task.js
  source/taskBox/taskbox.css
Labels: bug, Priority: Low

#115 Reformat main dashboard
  source/displayStreak/displayStreak.css
  source/displayStreak/displayStreak.js
  source/displayTasks/displayTasks.css
  source/header/header.css
  source/index.css
  source/index.html
  source/sideCalendar/sideCalendar.js
  source/snippetCreation/snippetCreation.css
  source/snippetDisplay/snippetDisplay.js
  source/taskBox/taskbox.css
  source/taskCompleted/taskCompleted.js
Labels: CSS, Priority: High

#118 Dylan / Restyle Snippets Container
  source/index.css
  source/index.html
  source/snippetCreation/snippetCreation.css
  source/snippetCreation/snippetCreation.js
  source/snippetDisplay/snippetDisplay.js
  source/taskBox/send_task.js
  source/taskBox/taskbox.css
Labels: HTML, CSS

#120 Bug snippet displaying null
  source/snippetCreation/snippetCreation.js
Labels: bug

#105 Hritik-Sujen/Add priority tags
  source/displayTasks/displayTasks.js
  source/index.html
  source/server.js
  source/starter.sql
  source/taskBox/send_task.js
  source/taskBox/taskbox.css
Labels: HTML, CSS, JS, Priority: Medium

#101 Advaith + Dylan / Navbar Data Update
  source/displayStreak/displayStreak.js
  source/displayTasks/displayTasks.js
  source/index.html
  source/server.js
  source/snippet/snippet.css
  source/snippet/snippet.html
  source/starter.sql
  source/taskCompleted/taskCompleted.js
Labels: JS

#133 Prevent default scrolling of body when mouse over sidebar
  source/sideCalendar/sideCalendar.js
Labels: bug

#140 Add link to dashboard from dashboard button
  source/about/about.html
Labels: bug, HTML

#139 Fixed About us spacing and made responsive
  source/header/header.css
Labels: bug, CSS, easy

#137 Navbar update bugfix
  source/taskBox/send_task.js
Labels: bug, JS, easy

#146 Allow cursor moving in task input box
  source/taskBox/send_task.js
Labels: bug, JS

#144 Edward/style date and tag popups
  source/__e2e__/e2e-displayStreak.js
  source/index.html
  source/starter.sql
  source/taskBox/send_task.js
  source/taskBox/taskbox.css
Labels: CSS, Priority: High

#149 Task text overflow bug
  source/displayTasks/displayTasks.css
Labels: bug, CSS, easy

#151 Revert "Edward/style date and tag popups (#144)"
  source/e2e/e2e-displayStreak.js
  source/index.html
  source/starter.sql
  source/taskBox/send_task.js
  source/taskBox/taskbox.css
Labels: invalid

#157 Fix dashboard not fitting in the window
  source/displayTasks/displayTasks.css
  source/index.css
Labels: bug, CSS

#160 Link welcome page as the start page
  source/about/about.html
  source/fullCalendar/fullCalendar.css
  source/fullCalendar/fullCalendar.js
  source/fullCalendar/index.html
  source/index.css
  source/index.html
  source/server.js
  source/sideCalendar/Calendar.png
  source/sideCalendar/sideCalendar.js
  source/snippetCreation/snippetCreation.js
  source/welcomePage/welcome.html
  source/welcomePage/welcome.js
Labels: JS
